.Profile {
    padding: 40px;
    .profile-info {
        padding: 20px;
        margin-bottom: 40px;
        .photo {
            padding: 10px 20px;
            width: 250px;
            img {
                height: 200px;
                width: 200px;
            }
            .edit {
                font-size: 17px;
                margin-top: 25px;
                svg {
                    color: white;
                }
            }
        }
        .information {
            padding: 20px 40px 0;
            .name {
                font-size: 30px;
            }
            .basic-info {
                padding-left: 15px;
                color: $tertiary;
            }
            .stats {
                padding: 20px 0 0;
                .stat {
                    margin-right: 40px;
                    .title {
                        color: $medium;
                    }
                    .value {
                        font-size: 40px;
                        color: $tertiary-tint;
                        margin: 0;
                        font-weight: 900;
                    }
                }
            }
        }
    }
}
