.Profile {
    padding: 40px;
    .profile-info {
        padding: 20px;
        margin-bottom: 40px;
        .name,
        .email {
            text-align: center;
            margin: 10px 0;
        }
        .photo {
            border-radius: 50%;
            overflow: hidden;
            width: 200px;
            height: 200px;
            img {
                height: 200px;
                width: 200px;
            }
            .edit {
                font-size: 17px;
                margin-top: 25px;
                svg {
                    color: white;
                }
            }
        }
        .stats {
            padding: 20px 0 0;
            .stat {
                margin: 0 20px;
                width: 100px;
                text-align: center;
                .title {
                    color: $medium;
                }
                .value {
                    font-size: 40px;
                    color: $tertiary-tint;
                    margin: 0;
                    font-weight: 900;
                }
            }
        }
    }
    .board {
        .card {
            padding: 20px;
            overflow: hidden;
            width: 100%;
            max-height: 50%;
            margin-bottom: 30px;
            hr {
                border-color: rgba(0, 0, 0, 0.3);
            }
            .header {
                position: relative;
                height: 40px;
                .title {
                    color: $tertiary;
                    display: inline-block;
                }
                .add {
                    background-color: transparent;
                    border: 0;
                    float: right;
                    svg {
                        color: $quaternary;
                        height: 35px;
                        width: 35px;
                    }
                }
            }
            .body {
                .empty {
                    padding: 3% 5%;
                    color: rgba(0, 0, 0, 0.2);
                    .empty-icon svg {
                        height: 50px;
                        width: 50px;
                    }
                    .empty-text {
                        text-align: center;
                    }
                }
                .pupil {
                    .title {
                        color: $tertiary;
                        font-size: 25px;
                    }
                }
                .habits-list {
                    margin-top: -1rem;
                    width: 100%;
                    .habit {
                        padding: 0 20px;
                        .habit-item {
                            text-align: center;
                            color: $tertiary;
                            padding: 0.5rem;
                            border-bottom: 1px solid rgba(0, 0, 0, 0.3);
                        }
                        &:nth-child(odd) {
                            border-right: 1px solid rgba(0, 0, 0, 0.1);
                        }
                    }
                }
                .edit {
                    margin: 20px 0;
                    transition: 1s;
                    .btn {
                        float: right;
                        margin: 20px 10px;
                    }
                }
            }
        }
    }
}
